.button {
    color:white;
    background-color: #394867;
    border: none;
    font-weight: 2px;
    font-size: 25px;
}
.title {
    color :#212A3E;
}
.inputForm {
    border-radius: 5px;
    height: 30px;
    border:none;
  }
  

.button:hover {
    background-color: #212A3E;
}