* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #9BA4B5;
}

*::-webkit-scrollbar-thumb {
  background-color: #394867;
  border-radius: 20px;

}
body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.winValuesContainer {
  display: flex;
  gap:10px;

}

.winBar {
  justify-content: center;
  align-items: center;
  align-items: center;
  text-align: center;
  background-color: #394867;
  border-radius: 10px 10px 0px 0px;
  color: white;
}
.gameContainer {
  display: flex;
}

.leftContainer {
  background-color: #9BA4B5;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto; 
  gap:20px;
  padding: 20px;

}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #F1F6F9 ;
  padding: 20px;
}

.title {
  font-size: xx-large;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;

}

.button {
  border-radius: 5px;
  color: #394867;
  padding: 10px;
  background-color: #FFFFFF;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataTable {
  overflow: auto;
  height: 350px;
}
